.search {width: 300px;margin-right: 30px;display: inline-block;}
.search-input {position: relative;}
.search-input span {width: 100%;}
.search-input input {
    width: 100%;
    height: 30px;
    padding-left: 13px;
    border: none;
    outline: none;
    background: #F9F0DA;
}

.search-input input, .search-input i {
    border-radius: 3px;
}

.search-input i {
    height: 24px;
    width: 24px;
    top: 8px;
    right: 4px;
    background: #F15B42;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 24px;
    color: #F9F0DA;
}
/*
.search-input i:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}*/
